<div class="container-fluid pt-5 pb-5">
	<div class="container all-blogs">
		<div class="row">
			<% @posts.each do |post| %>
				<div class="col-3 blog-card">
					<div class="col">
						<img src="<%= post.meta_image %>">
						<div class="content">
							<h4><%= link_to post.title, blogo_post_path(post) %></h4>
							<% re = /<("[^"]*"|'[^']*'|[^'">])*>/ %>
							<p><%= post.raw_content.gsub!(re, '').gsub('&nbsp;','')[0,60] %>...</p>
							<span>By <%= post.user.name %><time class="float-end"><%= I18n.localize(post.published_at.to_date, format: :long) %></time></span>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
<style type="text/css">
	.all-blogs .blog-card img {
		width: 100%;
		height: 200px;
		object-fit: cover;
	}
	.all-blogs .blog-card .col {
		margin: 0 10px;
		overflow: hidden;
		border-radius: 4px;
		box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
	}
	.all-blogs .blog-card .content {
		padding: 10px 20px;
	}
	.all-blogs .blog-card .content h4 a {
		color: #000000;
		text-decoration: none;
	}
</style>