<div class="banner">
	<div class="photos">
		<% @latest_posts.each_with_index do |latest_post, index| %>
			<div class="photo" data-id="<%= index+1 %>" data-image="<%= latest_post.meta_image %>"></div>
		<% end %>
	</div>
	<div class="grid">
		<% @latest_posts.each_with_index do |latest_post, index| %>
			<div class="col">
				<div class="info" data-id="<%= index+1 %>">
					<div class="loader">
						<div class="bar"></div>
					</div>
					<div class="text">
						<h2><%= latest_post.title %></h2>
						<p><%= latest_post.raw_content.gsub(@re, '').gsub('&nbsp;','')[0,60] %>...</p>
					</div>
					<a href="/blogs/<%= latest_post.permalink %>" class="more">Read more</a>
				</div>
			</div>
		<% end %>
	</div>
</div>
<div class="container-fluid pt-5 pb-5">
	<div class="container all-blogs">
		<h1 class="blogo-heading">Blogs</h1>
		<div class="row append_posts">
			<% @posts.each do |post| %>
				<div class="col-3 blog-card">
					<div class="col">
						<div class="image">
							<a href="/blogs/<%= post.permalink %>"><img src="<%= post.meta_image %>" alt="<%= post.title %>"></a>
							<time><%= I18n.localize(post.published_at.to_date, format: :long) %></time>
						</div>
						<div class="content">
							<% if post.tags.present? %>
								<ul class="tags">
									<% post.tags.each do |tag| %>
										<li>
											<a href="/tags/<%= tag.name %>">#<%= tag.name %></a>
										</li>
									<% end %>
								</ul>
							<% end %>
							<h4><%= link_to post.title, '/blogs/'+post.permalink %></h4>
							<p><%= post.raw_content.gsub(@re, '').gsub('&nbsp;','')[0,60] %>...</p>
							<span class="quick-view" data-id="<%= post.id %>">Quick View <i class="fa fa-eye"></i></span>
						</div>
					</div>
				</div>
			<% end %>
		</div>
		<div class="text-center post-loader mt-5 mb-5 hide">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
</div>
<div class="quick-view-popup">
	<div class="quick-view-wrapper">
		<i class="custom-close-btn close-quick-view"></i>
		<div class="quick-view-content"></div>
	</div>
</div>
<div class="popup-wrapper">
	<div class="popup-inner">
		<i class="fa fa-times close-popup"></i>
		<div class="popup-content">
			<h3>Important Notice!</h3>
			<p>TradeNAIRA services and exchange rates have now moved to <a href="//jump.africa" target="_blank">www.jump.africa</a></p>
			<p>Follow this link to register online today</p>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).on('ready', function() {
		$(document).on('click', '.quick-view', function() {
			var post_id = $(this).data('id');
			var post_html = '';
			$.ajax({
				url: "/search_by_id/"+post_id,
				type: "get",
				success: function(resp){
					if (resp.success) {
						if (resp.data.content) {
							$('.quick-view-popup').fadeIn('slow');
							$('.quick-view-content').html(`<h4>${resp.data.title}</h4>${resp.data.content}`);
						}
					}
				},
				dataType: "json",
				error: function(){
				}
			});
		});
	});
	$('.close-quick-view').on('click', function() {
		$('.quick-view-popup').fadeOut('slow');
	})
</script>
<script type="text/javascript">
	$(document).ready(function() {
		var duration = 5,
		currentindex = Math.round(Math.random()*(3-1)+1),
		totalitems = $('.info').length,
		timeline = new TimelineMax(),
		item,
		bar;
		function runslide() {
			item = $('[data-id='+ currentindex +']'),
			bar = item.find('.bar');
			item.addClass('active');
			timeline.play();
			timeline
			.to(bar, 0, {left: '-100%'})
			.to(bar, duration, {left: '0%', ease: Linear.easeNone, delay: .75,
				onComplete: function() {
					item.addClass('fadeout');
				}
			})
			.to(bar, duration/10, {left: '100%', ease: Power4.easeIn, delay: .25,
				onComplete: function() {
					if(currentindex == totalitems) {
						currentindex = 1;
					} else {
						currentindex++;
					}
					item.removeClass('active fadeout');
					timeline.clear();
					runslide();
				}
			});
		}
		function clickslide(e) {
			currentindex = e;
			timeline.clear();
			TweenMax.to(bar, duration/10, {left: '0%', ease: Power4.easeOut});
			TweenMax.to(bar, duration/10, {left: '100%', ease: Power4.easeIn, delay: duration/10});
			$('.photo, .info').removeClass('active fadeout');
			runslide();
		}
		$('.banner')
		.on('click', '.info:not(.active, .fadeout)', function() {
			clickslide($(this).attr('data-id'));
			timeline.pause();
		})
		.on('click', '.info.active:not(.fadeout)', function() {
			// do nothing
		})
		.on('mouseover', '.info.active:not(.fadeout)', function() {
			timeline.pause();
		})
		.on('mouseout', '.info.active:not(.fadeout)', function() {
			timeline.play();
		});
		$('.photo').each(function() {
			$(this).attr('style', `background-image: url('${$(this).data('image')}')`);
		});
		$(window).on('load', function() {
			setTimeout(function() {
				runslide();
			}, 1000);
			$('.info[data-id="1"]').click();
		});
	});
	$(window).scroll(function() {
		if (typeof content_loading === 'undefined') {
			content_loading = false;
		}
		if (content_loading == false) {
			var top_of_element = $(".all-blogs").offset().top;
			var bottom_of_element = $(".all-blogs").offset().top + $(".all-blogs").outerHeight();
			var bottom_of_screen = $(window).scrollTop() + $(window).innerHeight();
			var top_of_screen = $(window).scrollTop();
			if (typeof all_posts === 'undefined') {
				all_posts = false;
			}
			if (all_posts == false) {
				if ((bottom_of_screen > bottom_of_element + 200)){
					content_loading = true;
					if (typeof last_id === 'undefined') {
						last_id = 2
					}
					$('.post-loader').removeClass('hide');
					$.ajax({
						url: "/load_more_post/?page="+last_id,
						type: "get",
						success: function(resp){
							if(resp.success) {
								var posts = '';
								$.each(resp.data, function(index, value) {
									var iso_date = value.published_at.split('T')[0].split('-');
									month = new Date(iso_date[0], (iso_date[1]-1), iso_date[2]).toLocaleString('en-us', { month: 'long' });
									posts += `<div class="col-3 blog-card">
													<div class="col">
														<div class="image">
															<a href="/blogs/${value.permalink}"><img src="${value.meta_image}" alt="${value.title}"></a>
															<time>${month} ${iso_date[2]}, ${iso_date[0]}</time>
														</div>
														<div class="content">
															<h4><a href="/blogs/${value.permalink}">${value.title}</a></h4>
															<p>${$(value.raw_content).text().substring(0,60)}...</p>
															<span class="quick-view" data-id="${value.id}">Quick View <i class="fa fa-eye"></i></span>
														</div>
													</div>
												</div>`;
								});
								$('.append_posts').append(posts);
								last_id = last_id + 1;
								$('.post-loader').addClass('hide');
								content_loading = false;
							} else {
								all_posts = true;
								$('.post-loader').addClass('hide');
								content_loading = false;
							}
						},
						error: function(){
							$('.post-loader').addClass('hide');
							content_loading = false;
						}
					});
				} else {
					$('.post-loader').addClass('hide');
				}
			}
		}
	});
	$(window).on('load', function() {
		$('.popup-wrapper').fadeIn('slow');
	})
	$('.close-popup').on('click', function() {
		$('.popup-wrapper').fadeOut('slow');
	});
</script>