<h1>Links</h1>
<a href="/blog/admin/links/new">Add New Link</a>
<table class="pure-table pure-table-striped">
	<thead>
		<tr>
			<th>Link Title</th>
			<th>Link URL</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @sidebar_links.each do |link| %>
			<tr>
				<td><%= link.title %></td>
				<td><a href="<%= link.url %>"><%= link.url %></a></td>
				<td><%= link.is_active %></td>
				<td>
					<%= link_to "Edit", "edit/#{link.id}", method: :get  %>

					<%= link_to "Destroy", "delete/#{link.id}", method: :delete  %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>